<h1>Registro de nova denúncia</h1>

 <p>Escola: <%= @report.school %> </p>

 <p>Categoria: <%= @report.category.name %> </p>

 <p>Endereço: <%= @report.address %> </p>

  <p>Descrição: <%= @report.description %> </p>

